<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

	<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>aYLixoAvGyaqP1zaggdgQEM2FxrpygVREF6flOJ/7OCa4xLg6ScPqUJhjHFxqFjFX90YrbGXRQxVnaYEJ8nbi/573YA2choJLoTMUWHiTeTPDtVLR6alI76mxQ+rmTYYbd0qXkKpajeUC7DkGgSRTG3AHG3UMmcvWwCF3iAzNzjR74XWQuarntHTXWmmBFJVHWDBamcGLRgy7Wb99lTNYyW+XhGQAkA3oKNbQPUZS0+HNf6lXqMEEmUpUFoYCGBqSXE+bxmRIg4Dl0kMdiN4/WMYNIB9EvX/RvU12qmrkait2TiiDJHdu+gtQUdJz3pfnb8gtDCGWVMvpJh1BV5p/Q==</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>E5bLrNSl/pHOAZmbnpKxIHmBoetaLvYgXuRKFAoKZLGRUnIUqnslyrfQs5xcw6fEoZUNW/ekQ6kPQo4TxvrrmhqYHtuAAgMkcyg3SSzPXB7EwfPYC3xYpo2lZLNtqfJ/LV//bzLKtVhU5rbgCsELSfbywawL5S576uSoXhztXs8zWvH1wLry4CFKYtEwWBWlj7fLzrRzUPCIWVOCiD6u1SsRGRqb+MdOiu7vLS0zAbT65lLBgPcTOMXy6896iorjj7xbzaKaAlR4fu/n9qxx+RztyAfcf8Q06Gs7SfrNjo61kZZT9jlMqgOPv7RvxxpZ0decuzBoTi1Tr7uR+qXYBpN+4w/wa3F2Q11oZZPQ3+3X0ilDllGhohbZ1oNk3c32zYZbVy7tNrkLD+Krns/Ykm8zgSiY+g5LXtA6G8Fr0cEhiW123OdNIMnv7zS++Z+9ynwAFg3v4tJ1hxgirNK+rSUCuKGzCBGz054qnCYvQec=</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>


	
	
	
	
</configuration>